<div class="tabs__inner component__inner">
  {{> component this}}
  <div class="tabs__widget component__widget clearfix">

    <div class="tabs__content">
      <div class="tabs__content-inner">

        {{#each _items}}
        <div id="{{../_id}}-tabpanel-{{@index}}" role="tabpanel" aria-labelledby="{{../_id}}-tab-title-{{@index}}" class="tabs__content-item item-{{@index}} {{#if _classes}} {{_classes}}{{/if}}">
          <div class="tabs__content-item-inner">

            {{#if title}}
            <div class="tabs__content-item-title">
              <div class="tabs__content-item-title-inner" {{a11y_attrs_heading 'componentItem'}}>
                {{{title}}}
              </div>
            </div>
            {{/if}}

            {{#if body}}
            <div class="tabs__content-item-body">
              <div class="tabs__content-item-body-inner">
                {{{compile body}}}
              </div>
            </div>
            {{/if}}

            {{#if _graphic.src}}
            <div class="tabs__content-item-graphic">
              <img class="tabs__content-item-graphic-inner" src="{{{_graphic.src}}}" {{#if _graphic.alt}}aria-label="{{_graphic.alt}}"{{else}}aria-hidden="true"{{/if}}/>
            </div>
            {{/if}}

          </div>
        </div>
        {{/each}}

      </div>
    </div>

    <div class="tabs__nav">
      <div class="tabs__nav-inner" role="tablist">

        {{#each _items}}
        <button
          role="tab"
          aria-selected="false"
          aria-controls="{{../_id}}-tabpanel-{{@index}}"
          aria-label="{{{tabTitle}}}.{{#if _isVisited}} {{_globals._accessibility._ariaLabels.visited}}{{/if}}"
          class="tabs__nav-item-btn js-tabs-nav-item-btn-click{{#if _isVisited}} is-visited{{/if}}"
          data-id="item-{{@index}}">

          <div id="{{../_id}}-tab-title-{{@index}}" class="tabs__nav-item-btn-inner">{{{tabTitle}}}</div>
        </button>
        {{/each}}

      </div>
    </div>

  </div>
</div>
