<div class="tabs__inner component__inner" role="region" aria-label="{{_globals._components._tabs.ariaRegion}}" {{#if _globals._components._tabs.ariaRegion}}tabindex="0"{{/if}}>
  {{> component this}}
  <div class="tabs__widget component__widget clearfix">

    <div class="tabs__content">
      <div class="tabs__content-inner">

        {{#each _items}}
        <div class="tabs__content-item item-{{@index}} {{#if _classes}} {{_classes}}{{/if}}">
          <div class="tabs__content-item-inner">

            {{#if title}}
            <div class="tabs__content-item-title">
              <div class="tabs__content-item-title-inner accessible-text-block" role="heading" aria-level="5" tabindex="0">
                {{{title}}}
              </div>
            </div>
            {{/if}}

            {{#if body}}
            <div class="tabs__content-item-body">
              <div class="tabs__content-item-body-inner">
                {{{a11y_text body}}}
              </div>
            </div>
            {{/if}}

            {{#if _graphic.src}}
            <div class="tabs__content-item-graphic">
              <img class="tabs__content-item-graphic-inner" src="{{{_graphic.src}}}" alt="{{{_graphic.alt}}}" tabindex="0"/>
            </div>
            {{/if}}

          </div>
        </div>
        {{/each}}

      </div>
    </div>

    <div class="tabs__nav">
      <div class="tabs__nav-inner">

        {{#each _items}}
        <button class="tabs__nav-item-btn js-tabs-nav-item-btn-click" aria-label="{{{tabTitle}}} {{#if _isVisited}}. Visited{{/if}}" data-id="item-{{@index}}">
          <div class="tabs__nav-item-btn-inner {{#if _isVisited}}visited{{/if}}">
            {{{tabTitle}}}
          </div>
        </button>
        {{/each}}
        
      </div>
    </div>

  </div>
</div>
